@model Regionalizer.Models.RegionMunicipalitiesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.Name)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Municipalities
        </dt>
        <dd class = "col-sm-10">
@foreach (var item in Model.Municipalities)
{
            @Html.DisplayFor(model => item.Name) <br>
}
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Region.RegionId">Edit</a> |
    <a asp-action="EditMunicipalities" asp-route-id="@Model.Region.RegionId">Edit municipalities</a> |
    <a asp-action="Index">Back to List</a>
</div>
